.button, .search__submit, .social, .social__item, .contact-header, .contact-header__address, .contact-header__phone, .breadcrumbs__item, .filter__input_radio + .filter__bg-input_radio, .filter__input_checkbox + .filter__bg-input_checkbox, .filter__text, .price__label, .price__text, .price__input, .color__item, .sort, .sort__text, .view, .view__text, .view__list, .view__item, .view__link, .product__thumb-item, .product__option-name, .product__option-value, .product__star-list, .product__star-item, .product__reting-value, .product__status, .product__status:before, .product__list_list-thumbnail .product__item, .product__list_list-thumbnail .product__status, .product__list_view-list .product__info, .pagination__item, .nav-footer__item {
  display: inline-block;
  vertical-align: top;
}

.header__header-top:before, .header__header-main:before, .nav__menu:before, .wrapper:before, .footer .content-holder:before, .product-panel:before, .product__option-row:before, .product__list_view-list .product__item-holder:before, .header__header-top:after, .header__header-main:after, .nav__menu:after, .wrapper:after, .footer .content-holder:after, .product-panel:after, .product__option-row:after, .product__list_view-list .product__item-holder:after {
  content: "";
  display: table;
}
.header__header-top:after, .header__header-main:after, .nav__menu:after, .wrapper:after, .footer .content-holder:after, .product-panel:after, .product__option-row:after, .product__list_view-list .product__item-holder:after {
  clear: both;
}

.button, .search__submit, .nav__item_active .nav__link, .nav__item_active .nav__link:hover {
  background-color: #ff6600;
  background-image: -moz-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  background-image: -webkit-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  background-image: -ms-linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  background-image: linear-gradient(56deg, #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
}

@font-face {
  font-family: "opensans-regular";
  src: url("../fonts/opensans-regular.eot");
  src: url("../fonts/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular.woff2") format("woff2"), url("../fonts/opensans-regular.woff") format("woff"), url("../fonts/opensans-regular.ttf") format("truetype"), url("../fonts/opensans-regular.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "opensans-light";
  src: url("../fonts/opensans-light.eot");
  src: url("../fonts/opensans-light.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-light.woff2") format("woff2"), url("../fonts/opensans-light.woff") format("woff"), url("../fonts/opensans-light.ttf") format("truetype"), url("../fonts/opensans-light.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "opensans-semibold";
  src: url("../fonts/opensans-semibold.eot");
  src: url("../fonts/opensans-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibold.woff2") format("woff2"), url("../fonts/opensans-semibold.woff") format("woff"), url("../fonts/opensans-semibold.ttf") format("truetype"), url("../fonts/opensans-semibold.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "opensans-bold";
  src: url("../fonts/opensans-bold.eot");
  src: url("../fonts/opensans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold.woff2") format("woff2"), url("../fonts/opensans-bold.woff") format("woff"), url("../fonts/opensans-bold.ttf") format("truetype"), url("../fonts/opensans-bold.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icons-sprite, .footer .social__link_vk-big:before, .footer .social__link_vk-big:hover:before, .footer .social__link_twitter-big:before, .footer .social__link_twitter-big:hover:before, .footer .social__link_facebook-big:before, .footer .social__link_facebook-big:hover:before, .social__link_vk-smoll:before, .social__link_vk-smoll:hover:before, .social__link_twitter-smoll:before, .social__link_twitter-smoll:hover:before, .social__link_facebook-smoll:before, .social__link_facebook-smoll:hover:before, .contact-header__address:before, .contact-header__phone:before, .filter__title-link:after, .filter__bg-input_radio, .filter__bg-input_checkbox, .filter__input_radio:checked + .filter__bg-input_radio, .filter__input_checkbox:checked + .filter__bg-input_checkbox, .price .noUi-handle, .view__link_list-full, .view__link_list-full:hover, .view__link_list-thumbnail, .view__link_list-thumbnail:hover, .view__link_view-list, .view__link_view-list:hover, .jq-selectbox.opened .jq-selectbox__trigger, .jq-selectbox__trigger, .product__star-item, .product__star-item_active, .product__price:after {
  background-image: url('../images/icons-sa1d7621cf7.png');
  background-repeat: no-repeat;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'opensans-regular', Arial, sans-serif;
  min-width: 1100px;
  background-color: #f4f4f4;
  font-size: 16px;
  color: #333333;
}

ul, menu {
  list-style: none;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

* {
  box-sizing: border-box;
}

.content-holder {
  width: 1100px;
  margin: 0 auto;
}

.page {
  min-height: 100%;
  position: relative;
}
.page:after {
  content: '';
  height: 220px;
  display: block;
}

.link, .filter__reset-link {
  color: #5db2fc;
  font-size: 0.875em;
  text-decoration: underline;
  cursor: pointer;
}
.link:hover, .filter__reset-link:hover {
  text-decoration: none;
}

.button, .search__submit {
  border-radius: 5px;
  font-family: 'opensans-semibold', Arial, sans-serif;
  font-size: 0.875em;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.button:hover, .search__submit:hover {
  opacity: 0.8;
}

.header__header-top {
  background-color: #fff;
  border-bottom: 2px solid #ebedef;
  padding: 1.55em 0;
}
.header__header-main {
  padding: 1.9em 0 1.8em;
}
.header__header-main .search {
  margin-left: 56px;
}

.nav {
  border-bottom: 2px solid #ebedef;
  width: 100%;
  background-color: #FFF;
  margin-bottom: 25px;
}
.nav__item {
  float: left;
}
.nav__item_active .nav__link {
  font-family: 'opensans-semibold', Arial, sans-serif;
  color: #fff;
}
.nav__item_active .nav__link:hover {
  opacity: 0.8;
}
.nav__link {
  display: block;
  text-decoration: none;
  font-family: 'opensans-regular', Arial, sans-serif;
  font-size: 1em;
  color: #333333;
  background-color: #FFF;
  text-align: center;
  padding: 0.95em 0.85em 0.95em 1.05em;
}
.nav__link:hover {
  background-color: #e4e2e2;
}

.wrapper {
  margin-bottom: 27px;
}

.aside-left {
  float: left;
  width: 332px;
}

.content {
  float: right;
  width: 743px;
}

.footer {
  background-image: url("../images/footer_bg.jpg");
  background-repeat: repeat;
  background-color: #373737;
  height: 220px;
  margin-top: -220px;
  padding: 2.15em 0em;
  position: relative;
}
.footer .logo {
  margin-top: 37px;
}
.footer .social {
  float: right;
  margin-right: 5px;
}
.footer .social__item {
  margin-left: 22px;
}
.footer .social__item:first-child {
  margin-left: 0;
}
.footer .social__link {
  width: 43px;
  height: 43px;
  background-color: #fff;
}
.footer .social__link_vk-big:before {
  background-position: -1550px 0;
  width: 16px;
  height: 21px;
}
.footer .social__link_vk-big:before:hover, .footer .social__link_vk-big:before.vk-big-hover {
  background-position: -1494px 0;
}
.footer .social__link_vk-big:hover:before {
  background-position: -1494px 0;
}
.footer .social__link_twitter-big:before {
  background-position: -1205px 0;
  width: 25px;
  height: 21px;
}
.footer .social__link_twitter-big:before:hover, .footer .social__link_twitter-big:before.twitter-big-hover {
  background-position: -1140px 0;
}
.footer .social__link_twitter-big:hover:before {
  background-position: -1140px 0;
}
.footer .social__link_facebook-big:before {
  background-position: -333px 0;
  width: 11px;
  height: 21px;
}
.footer .social__link_facebook-big:before:hover, .footer .social__link_facebook-big:before.facebook-big-hover {
  background-position: -282px 0;
}
.footer .social__link_facebook-big:hover:before {
  background-position: -282px 0;
}

.social__item {
  margin-left: 12px;
}
.social__item:first-child {
  margin-left: 0;
}
.social__link {
  width: 26px;
  height: 26px;
  position: relative;
  border-radius: 50%;
  display: block;
  text-indent: -9999px;
  background-color: #333;
}
.social__link:before {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
}
.social__link_vk-smoll:before {
  background-position: -1656px 0;
  width: 10px;
  height: 12px;
}
.social__link_vk-smoll:before:hover, .social__link_vk-smoll:before.vk-smoll-hover {
  background-position: -1606px 0;
}
.social__link_vk-smoll:hover:before {
  background-position: -1606px 0;
}
.social__link_twitter-smoll:before {
  background-position: -1326px 0;
  width: 16px;
  height: 12px;
}
.social__link_twitter-smoll:before:hover, .social__link_twitter-smoll:before.twitter-smoll-hover {
  background-position: -1270px 0;
}
.social__link_twitter-smoll:hover:before {
  background-position: -1270px 0;
}
.social__link_facebook-smoll:before {
  background-position: -430px 0;
  width: 6px;
  height: 12px;
}
.social__link_facebook-smoll:before:hover, .social__link_facebook-smoll:before.facebook-smoll-hover {
  background-position: -384px 0;
}
.social__link_facebook-smoll:hover:before {
  background-position: -384px 0;
}

.contact-header {
  float: right;
}
.contact-header__address, .contact-header__phone {
  position: relative;
  color: #333333;
}
.contact-header__address:before, .contact-header__phone:before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 6px;
}
.contact-header__address {
  font-family: 'opensans-regular', Arial, sans-serif;
  font-size: 0.9em;
  font-style: normal;
  display: inline-block;
  padding: 4px 0 0 20px;
}
.contact-header__address:before {
  width: 12px;
  height: 16px;
  background-position: -700px 0;
}
.contact-header__phone {
  font-family: 'opensans-semibold', Arial, sans-serif;
  font-size: 1.155em;
  text-decoration: none;
  padding-left: 20px;
  margin-left: 84px;
}
.contact-header__phone:before {
  width: 12px;
  height: 16px;
  background-position: -1040px 0;
}
.contact-header__phone:hover {
  text-decoration: underline;
}

.logo {
  float: left;
  overflow: hidden;
  width: 238px;
  height: 36px;
}
.logo__text {
  position: absolute;
  left: -9999px;
}

.search {
  float: left;
}
.search__input {
  font-family: 'opensans-light', Arial, sans-serif;
  font-size: 0.875em;
  border: 1px solid #dee1e4;
  background-color: #fbfbfb;
  border-radius: 3px;
  border-right: none;
  padding: 0.4em 1.2em 0.6em;
  width: 256px;
  margin-right: -6px;
}
.search__input::-webkit-input-placeholder {
  color: #7f7f7f;
}
.search__input:-moz-placeholder {
  color: #7f7f7f;
}
.search__input::-moz-placeholder {
  color: #7f7f7f;
}
.search__input-ms-input-placeholder {
  color: #7f7f7f;
}
.search__submit {
  border: none;
  font-size: 1em;
  border-radius: 0 5px 5px 0;
  padding: 0.4em 0.9em 0.387em;
}

.header-link {
  float: right;
  padding-top: 6px;
  max-width: 390px;
}
.header-link__item {
  display: inline-block;
  margin-left: 29px;
}
.header-link__item:first-child {
  margin-left: 0;
}
.header-link__link {
  font-family: 'opensans-semibold', Arial, sans-serif;
  font-size: 1em;
  color: #333333;
  text-decoration: underline;
}
.header-link__link:hover {
  color: #ff6600;
}

.breadcrumbs {
  margin-bottom: 20px;
}
.breadcrumbs__item {
  position: relative;
  padding-right: 10px;
}
.breadcrumbs__item:after {
  content: ">";
  display: inline-block;
  position: absolute;
  top: 2px;
  right: 0px;
}
.breadcrumbs__item:last-child:after {
  display: none;
}
.breadcrumbs__link {
  color: #333333;
  font-size: 0.875em;
  text-decoration: none;
}
.breadcrumbs__link:hover {
  text-decoration: underline;
  color: #ff6600;
}

.content-title {
  font-family: 'opensans-bold', Arial, sans-serif;
  font-size: 1.25em;
  margin-top: 0;
  margin-bottom: 27px;
}

.filter__availability-list {
  border: 1px solid #dee1e4;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 39px;
}
.filter__availability-link {
  padding: 0.9em 2.1em;
  text-decoration: none;
  color: #7f7f7f;
  font-size: 0.875em;
  display: block;
  background-color: #fbfbfb;
}
.filter__availability-link:hover, .filter__availability-link_active {
  color: #5d656c;
  background-color: #d9e5ea;
}
.filter__list {
  background-color: #fbfbfb;
  border-radius: 4px;
  border: 1px solid #dee1e4;
}
.filter__item {
  border-bottom: 1px solid #dee1e4;
  padding: 0.7em 1.8em 0.1em;
}
.filter__item:last-child {
  border-bottom: none;
}
.filter__title-link {
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  display: block;
  margin-bottom: 16px;
  font-family: 'opensans-semibold', Arial, sans-serif;
  font-size: 1em;
  text-decoration: none;
  position: relative;
  color: #333333;
}
.filter__title-link:after {
  opacity: 0;
  display: block;
  position: absolute;
  right: -20px;
  top: 8px;
  content: "";
  width: 18px;
  height: 11px;
  background-position: -53px 0;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}
.filter__title-link_close:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.filter__title-link:hover:after {
  opacity: 1;
}
.filter__label {
  margin-bottom: 15px;
  display: inline-block;
}
.filter__input_radio, .filter__input_checkbox {
  position: absolute;
  width: 19px;
  height: 19px;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
.filter__input_radio + .filter__bg-input_radio, .filter__input_checkbox + .filter__bg-input_checkbox {
  cursor: pointer;
  text-indent: -9999px;
}
.filter__bg-input_radio {
  width: 19px;
  height: 19px;
  background-position: -811px 0;
}
.filter__bg-input_radio:active, .filter__bg-input_radio.radio-active {
  background-position: -752px 0;
}
.filter__bg-input_checkbox {
  width: 19px;
  height: 19px;
  background-position: -223px 0;
}
.filter__bg-input_checkbox:active, .filter__bg-input_checkbox.chekbox-active {
  background-position: -164px 0;
}
.filter__input_radio:checked + .filter__bg-input_radio {
  background-position: -752px 0;
}
.filter__input_checkbox:checked + .filter__bg-input_checkbox {
  background-position: -164px 0;
}
.filter__text {
  font-size: 0.875em;
  margin-left: 11px;
}
.filter__reset-item {
  margin: -8px 0 17px 2px;
}

.price {
  margin-bottom: 32px;
}
.price__label {
  margin-bottom: 20px;
}
.price__text {
  font-size: 0.875em;
  margin: 4px 12px 1px 0;
}
.price__input {
  width: 80px;
  border-radius: 3px;
  box-shadow: inset 0px 1px 1px 0px rgba(148, 148, 148, 0.43);
  border: 1px solid #ebedef;
  color: #333333;
  font-size: 0.8125em;
  padding: 0.3em 0.5em;
}
.price__input_lower {
  margin-right: 43px;
}
.price .noUi-target {
  height: 3px;
  position: relative;
}
.price .noUi-target * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.price .noUi-background {
  background-color: #dee1e4;
}
.price .noUi-base {
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  position: relative;
}
.price .noUi-origin {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.price .noUi-connect {
  background-color: #ff6600;
  -webkit-transition: background 450ms ease 0s;
  -moz-transition: background 450ms ease 0s;
  -ms-transition: background 450ms ease 0s;
  -o-transition: background 450ms ease 0s;
  transition: background 450ms ease 0s;
}
.price .noUi-handle {
  width: 8px;
  height: 14px;
  background-position: -1092px 0;
  position: relative;
  z-index: 1;
  cursor: pointer;
  left: -5px;
}

.color {
  margin-left: -20px;
}
.color__item {
  width: 36px;
  height: 36px;
  margin-left: 20px;
  margin-bottom: 23px;
}
.color__link {
  display: block;
  border: 1px solid #dee1e4;
  width: 100%;
  height: 100%;
}
.color__link:hover {
  box-shadow: 0 0 1px 1px #ff6600;
}

.product-panel {
  background-color: #e4ebee;
  border: 1px solid #dee1e4;
  border-radius: 4px;
  padding: 0.7em 1.1em 0.1em 1.4em;
  margin-bottom: 20px;
}

.sort {
  float: left;
}
.sort__text {
  color: #5d656c;
  font-size: 0.875em;
  margin: 2px 0;
}

.view {
  float: right;
  padding: 0.5em 0em;
}
.view__text {
  color: #5d656c;
  font-size: 0.875em;
  margin: -3px 0 0;
}
.view__item {
  position: relative;
  margin-left: 31px;
}
.view__item:before {
  content: "";
  border-left: 1px solid #dee1e4;
  position: absolute;
  display: block;
  width: 0;
  height: 51px;
  left: -19px;
  top: -19px;
}
.view__link {
  text-decoration: none;
}
.view__link_list-full {
  background-position: -532px 0;
  width: 16px;
  height: 16px;
}
.view__link_list-full:hover, .view__link_list-full.list-full-hover {
  background-position: -476px 0;
}
.view__link_list-full:hover {
  background-position: -476px 0;
}
.view__link_list-thumbnail {
  background-position: -644px 0;
  width: 16px;
  height: 16px;
}
.view__link_list-thumbnail:hover, .view__link_list-thumbnail.list-thumbnail-hover {
  background-position: -588px 0;
}
.view__link_list-thumbnail:hover {
  background-position: -588px 0;
}
.view__link_view-list {
  background-position: -1438px 0;
  width: 16px;
  height: 16px;
}
.view__link_view-list:hover, .view__link_view-list.view-list-hover {
  background-position: -1382px 0;
}
.view__link_view-list:hover {
  background-position: -1382px 0;
}

.jq-selectbox {
  width: 143px;
  vertical-align: top;
  margin-left: 4px;
}
.jq-selectbox__select {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: inset 0px 1px 1px 0px rgba(148, 148, 148, 0.43);
  cursor: pointer;
  padding: 0.15em 0.9em 0.4em;
}
.jq-selectbox__select-text {
  font-size: 0.875em;
  font-family: 'opensans-light', Arial, sans-serif;
  color: #7f7f7f;
}
.jq-selectbox.opened .jq-selectbox__trigger {
  background-position: -111px 0;
}
.jq-selectbox__trigger {
  width: 13px;
  height: 9px;
  background-position: 0 0;
  position: absolute;
  right: 6px;
  top: 11px;
}
.jq-selectbox__dropdown {
  width: 100%;
  margin-top: 3px;
  padding: 0.15em 0.3em 0.6em 0.9em;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0px 1px 4.85px 0.15px rgba(134, 134, 134, 0.75);
}
.jq-selectbox .sort__option {
  font-family: 'opensans-semibold', Arial, sans-serif;
  font-size: 0.875em;
  margin-bottom: 10px;
}
.jq-selectbox .sort__option.selected {
  font-size: 0.875em;
  font-family: 'opensans-light', Arial, sans-serif;
  color: #7f7f7f;
}
.jq-selectbox .sort__option:last-child {
  margin-bottom: 0;
}

.product__list {
  margin-bottom: 67px;
}

.product__item {
  border: 1px solid #dee1e4;
  background-color: #fbfbfb;
}

.product__item-holder {
  position: relative;
}

.product__slideshow {
  width: 136px;
}

.product__selected-image {
  border-radius: 2px;
  width: 136px;
  height: 136px;
  border: 1px solid #dee1e4;
  overflow: hidden;
  margin-bottom: 15px;
}
.product__selected-image img {
  width: 100%;
  height: 100%;
}

.product__thumb {
  text-align: center;
}

.product__thumb-item {
  border-radius: 2px;
  margin-left: 12px;
  width: 34px;
  height: 34px;
  border: 1px solid #dee1e4;
  overflow: hidden;
}
.product__thumb-item img {
  width: 100%;
  height: 100%;
}
.product__thumb-item_active {
  border-color: #ff6600;
}
.product__thumb-item:first-child {
  margin-left: 0;
}

.product__name {
  font-family: 'opensans-semibold', Arial, sans-serif;
}

.product__options {
  width: 100%;
  margin-bottom: 7px;
}

.product__option-row {
  font-size: 0.875em;
  background-color: #fbfbfb;
  padding: 0.02em 0 0.05em;
}
.product__option-row:nth-child(odd) {
  background-color: #e6e6e6;
}

.product__option-name {
  float: left;
}

.product__option-value {
  float: right;
}

.product__rating {
  text-align: center;
  margin-bottom: 2px;
}

.product__star-item {
  margin-left: -5px;
  width: 21px;
  height: 20px;
  background-position: -979px 0;
}
.product__star-item:active, .product__star-item.star-active {
  background-position: -923px 0;
}
.product__star-item_active {
  background-position: -923px 0;
}

.product__reting-value {
  font-family: 'opensans-semibold', Arial, sans-serif;
  font-size: 0.73875em;
  text-align: center;
  border-radius: 35% / 43%;
  background-color: #b5beca;
  color: #fbfbfb;
  padding: 0 0.9em;
  margin: 2px 0 0 10px;
}

.product__price {
  font-family: 'opensans-semibold', Arial, sans-serif;
  font-size: 1.25em;
}
.product__price:after {
  content: "";
  display: inline-block;
  width: 13px;
  height: 14px;
  background-position: -870px 0;
  margin-left: 4px;
}

.product__status {
  font-family: 'opensans-bold', Arial, sans-serif;
  color: #7f7f7f;
  font-size: 0.75em;
}
.product__status:before {
  content: "";
  background-color: #60ac49;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 5px 7px 0 0;
}

.product__article-text {
  font-size: 0.75em;
  color: #7f7f7f;
  font-family: 'opensans-semibold', Arial, sans-serif;
}

.product__article-code {
  font-size: 0.875em;
  font-family: 'opensans-bold', Arial, sans-serif;
  margin-left: 5px;
}

.product__list_list-thumbnail .product__code, .product__list_list-thumbnail .product__description {
  display: none;
}
.product__list_list-thumbnail .product__item {
  border-radius: 5px;
  text-align: center;
  margin-bottom: 19px;
  width: 234px;
}
.product__list_list-thumbnail .product__item:hover {
  box-shadow: 0px 1px 7.2px 0.8px rgba(153, 153, 153, 0.75);
}
.product__list_list-thumbnail .product__item:nth-child(3n-1) {
  margin: 0 16px;
}
.product__list_list-thumbnail .product__item-holder {
  padding: 1.2em 0.6em;
}
.product__list_list-thumbnail .product__slideshow {
  display: block;
  margin: 0 auto 13px;
}
.product__list_list-thumbnail .product__name {
  font-size: 0.875em;
  color: #000;
  padding: 0 1em;
  margin-top: 0;
  margin-bottom: 4px;
}
.product__list_list-thumbnail .product__price {
  display: block;
  margin-bottom: 2px;
}
.product__list_list-thumbnail .product__status {
  margin: 7px 7px;
}
.product__list_list-thumbnail .product__buy-btn {
  padding: 0.5em 1.1em;
  margin-left: 9px;
}

.product__list_list-full .product__item {
  position: relative;
  border-bottom: none;
}
.product__list_list-full .product__item:hover {
  box-shadow: 0px 1px 5.7px 0.3px rgba(118, 118, 118, 0.75);
  z-index: 1;
}
.product__list_list-full .product__item:first-child {
  border-radius: 5px 5px 0 0;
}
.product__list_list-full .product__item:last-child {
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #dee1e4;
}
.product__list_list-full .product__item-holder {
  padding: 1.2em 1.4em 1.5em;
  display: table;
  width: 100%;
  min-height: 246px;
}
.product__list_list-full .product__slideshow {
  float: left;
  display: table-cell;
  vertical-align: top;
}
.product__list_list-full .product__info {
  float: left;
  width: 380px;
  display: table-cell;
  vertical-align: top;
  margin-left: 25px;
}
.product__list_list-full .product__code {
  position: absolute;
  left: 36px;
  bottom: 13px;
}
.product__list_list-full .product__options {
  display: none;
}
.product__list_list-full .product__buy {
  display: table-cell;
  vertical-align: top;
  border-left: 1px solid #dee1e4;
  position: relative;
  width: 131px;
  height: 100%;
}
.product__list_list-full .product__price {
  display: block;
  text-align: right;
}
.product__list_list-full .product__name {
  color: #010101;
  font-size: 1em;
  margin: 5px 0 21px;
}
.product__list_list-full .product__description {
  font-size: 0.875em;
  margin-bottom: 15px;
}
.product__list_list-full .product__rating {
  float: left;
}
.product__list_list-full .product__status {
  position: absolute;
  bottom: -8px;
  right: 3px;
}
.product__list_list-full .product__buy-btn {
  position: absolute;
  bottom: 16px;
  right: 3px;
  padding: 0.5em 1.1em;
}

.product__list_view-list .product__slideshow, .product__list_view-list .product__description, .product__list_view-list .product__options, .product__list_view-list .product__rating {
  display: none;
}
.product__list_view-list .product__item-holder {
  padding: 1em 0.8em 0.63em 0.8em;
}
.product__list_view-list .product__item {
  position: relative;
  border-bottom: none;
}
.product__list_view-list .product__item:hover {
  box-shadow: 0px 1px 5.7px 0.3px rgba(118, 118, 118, 0.75);
  z-index: 1;
}
.product__list_view-list .product__item:first-child {
  border-radius: 5px 5px 0 0;
}
.product__list_view-list .product__item:last-child {
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #dee1e4;
}
.product__list_view-list .product__info {
  margin-left: 5px;
}
.product__list_view-list .product__buy {
  float: right;
  width: 302px;
}
.product__list_view-list .product__code {
  float: left;
  width: 110px;
}
.product__list_view-list .product__name {
  color: #000;
  font-family: 'opensans-regular', Arial, sans-serif;
  font-size: 0.875em;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 288px;
}
.product__list_view-list .product__price {
  font-size: 1.195em;
  display: inline-block;
  vertical-align: top;
  margin: -3px 0 0;
}
.product__list_view-list .product__status {
  margin: 3px 0 0 25px;
}
.product__list_view-list .product__buy-btn {
  margin: -6px 0 0 20px;
  padding: 0.5em 1.1em;
}

.pagination {
  text-align: right;
}
.pagination__item {
  margin-left: 1px;
}
.pagination__item:last-child {
  margin-left: 0;
}
.pagination__link {
  display: block;
  text-align: center;
  padding: 0.3em 0;
  border-radius: 3px;
  background-color: #fbfbfb;
  width: 26px;
  height: 25px;
  text-decoration: none;
  font-family: 'opensans-bold', Arial, sans-serif;
  color: #7f7f7f;
  font-size: 0.75em;
  border: 1px solid #dee1e4;
}
.pagination__link:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), inset 0px 1px 0px 1px rgba(255, 255, 255, 0.004);
  border-color: #aeaeae;
}
.pagination__link_active {
  background-color: #e0e0e0;
  border-color: #c8c8c8;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.seo-text {
  clear: both;
  margin-bottom: 9px;
}
.seo-text__title {
  font-size: 1.25em;
  font-family: 'opensans-bold', Arial, sans-serif;
  margin: 0 0 17px;
}
.seo-text__text p {
  font-size: 0.875em;
  text-indent: 2.6em;
  margin: 0 0 20px;
  line-height: 1.45em;
}
.seo-text__text .first {
  padding-right: 15px;
}
.seo-text__text .last {
  padding-left: 20px;
}

.nav-footer {
  clear: both;
  text-align: right;
  width: 567px;
  float: right;
  margin-top: -2px;
}
.nav-footer__item {
  margin-left: 23px;
  margin-bottom: 14px;
}
.nav-footer__item:first-child {
  margin-left: 0;
}
.nav-footer__link {
  font-size: 0.875em;
  color: #fff;
}
.nav-footer__link:hover {
  text-decoration: none;
}
