//- ul.social
//- 	each value, key in local.social
//- 		li(class="social__item social__item_#{key}")
//- 			a(href="#{value}" target="_blank" title="#{value}" class="social__link")= value

+social(local.social, 'smoll')