footer.footer
	.content-holder
		block logo
			include ../_block/logo-footer
		block social
			+social(local.social, 'big')
		block nav-footer
			include ../_block/nav-footer
	block copyright
		include ../_block/copyright

