header.header
	block header-content
		.header__header-top
			.content-holder
				block social
					+social(local.social, 'smoll')
				block contact-header
					include ../_block/contact-header
		.header__header-main.content-holder
			block logo
				include ../_block/logo
			block search
				include ../_block/search
			block header-link
				include ../_block/header-link