section.wrapper.content-holder
	block breadcrumbs
		include ../_block/breadcrumbs
	block content-title
		include ../_block/content-title
	block aside
		include aside-left
	block content
		include content
	block seo_text
		include ../_block/seo-text