.breadcrumbs {
	margin-bottom: 20px;
	&__item {
		@extend %inline-block;
		position: relative;
    	padding-right: 10px;
		&:after {
			content: ">";
			display: inline-block;
		    position: absolute;
		    top: 2px;
		    right: 0px;
		}
		&:last-child:after {
			display: none;
		}
	}
	&__link {
		color: $text-color;
		font-size: em(14);
		text-decoration: none;
		&:hover {
			text-decoration: underline;
			color: $color-orange;
		}
	}
}