.breadcrumbs {
	&__item {
		@extend %inline-block;
		&:after {
			content: ">";
		}
		&:last-child:after {
			display: none;
		}
	}
	&__link {
		color: $text-color;
		font-size: em(14);
		text-decoration: none;
		&:hover {
			text-decoration: underline;
			color: $color-orange;
		}
	}
}