.filter {
	&__availability-list {
		border: 1px solid #dee1e4;
		border-radius: 4px;
		overflow: hidden;
		margin-bottom: 39px;
	}
	&__availability-item {}
	&__availability-link {
		padding: 0.9em 2.1em;
		text-decoration: none;
		color: #7f7f7f;
		font-size: em(14);
		display: block;
		background-color: #fbfbfb;
		&:hover, &_active {
			color: #5d656c;
			background-color: #d9e5ea;
		}
	}
	&__list {
		background-color: #fbfbfb;
		border-radius: 4px;
		border: 1px solid #dee1e4;
	}
	&__item {
		border-bottom: 1px solid #dee1e4;
		padding: 0.7em 1.8em 0.1em;
		&:last-child {
			border-bottom: none;
		}
	}
	&__title-link {
		@include transition (opacity .3s ease);
		display: block;
		margin-bottom: 16px;
		font-family: 'opensans-semibold', Arial, sans-serif;
		font-size: em(16);
		text-decoration: none;
		position: relative;
		color: $text-color;
		&:after {
			opacity: 0;
			display: block;
			position: absolute;
			right: -20px;
    		top: 8px;
			content: "";
			width: icons-sprite-width(arow-up-big);
			height: icons-sprite-height(arow-up-big);
			@include icons-sprite(arow-up-big);
			@include transition (transform 0.5s ease);
		}
		&_close:after {
			@include transform (rotate(180deg));
		}
		&:hover:after {
			opacity: 1;
		}
	}
	&__label {
		margin-bottom: 15px;
    	display: inline-block;
	}
	&__input {
		&_radio, &_checkbox {
			position: absolute;
			@include block-square (19px);
			z-index: 1;
			opacity: 0;
			cursor: pointer;
		}
	}
	&__input_radio + &__bg-input_radio,
	&__input_checkbox + &__bg-input_checkbox {
		cursor: pointer;
		@extend %inline-block;
		text-indent: -9999px;
	}
	&__bg-input {
		&_radio {
			width: icons-sprite-width(radio);
			height: icons-sprite-height(radio);
			@include icons-sprite(radio);
		}
		&_checkbox {
			width: icons-sprite-width(chekbox);
			height: icons-sprite-height(chekbox);
			@include icons-sprite(chekbox);
		}
	}
	&__input_radio:checked + &__bg-input_radio {
		@include icons-sprite(radio-active);
	}
	&__input_checkbox:checked + &__bg-input_checkbox {
		@include icons-sprite(chekbox-active);
	}
	&__text {
		font-size: em(14);
		@extend %inline-block;
		margin-left: 11px;
	}
	&__reset-item {
		margin: -8px 0 17px 2px;
	}
	&__reset-link {
		@extend .link;
	}
}

.price {
	margin-bottom: 32px;
	&__label {
		@extend %inline-block;
		margin-bottom: 20px;
	}
	&__text {
		@extend %inline-block;
		font-size: em(14);
    	margin: 4px 12px 1px 0;
	}
	&__input {
		&_lower {
    		margin-right: 43px;
    	}
		@extend %inline-block;
		width: 80px;
		border-radius: 3px;
		box-shadow: inset 0px 1px 1px 0px rgba(148, 148, 148, 0.43);
		border: 1px solid $border-color;
		color: $text-color;
		font-size: em(13);
    	padding: 0.3em 0.5em;
	}
	.noUi {
		&-target {
			* { @include user-select(); }
			height: 3px;
			position: relative;
		}
		&-background {
			background-color: #dee1e4;
		}
		&-base {
			@include block-size (100%, 100%);
			@include transform (translate3d(0px, 0px, 0px));
			position: relative;
		}
		&-origin {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
		}
		&-connect {
			background-color: $color-orange;
			@include transition (background 450ms ease 0s);
		}
		&-handle {
			width: icons-sprite-width(triger);
			height: icons-sprite-height(triger);
			@include icons-sprite(triger);
			position: relative; z-index: 1;
			cursor: pointer;
			left: -5px;
		}
	}
}
.color {
	margin-left: -20px;
	&__item {
		@extend %inline-block;
		@include block-square (36px);
		margin-left: 20px;
    	margin-bottom: 23px;
	}
	&__link {
		display: block;
		border: 1px solid #dee1e4;
		@include block-square (100%);
		&:hover {
			box-shadow: 0 0 1px 1px $color-orange;
		}
	}
}

