.header-link {
	float: right;
	padding-top: 6px;
	max-width: 390px;
	&__item {
		display: inline-block;
		margin-left: 29px;
		&:first-child {
			margin-left: 0;
		}
	}
	&__link {
		font-family: 'opensans-semibold', Arial, sans-serif;
		font-size: em(16);
		color: $text-color;
		text-decoration: underline;
		&:hover {
			color: $color-orange;
		}
	}
}