.product-panel {
	background-color: #e4ebee;
	border: 1px solid #dee1e4;
	border-radius: 4px;
	@extend %clearfix;
	padding: 0.7em 1.1em 0.1em 1.4em;
	margin-bottom: 20px;
}
.sort {
	@extend %inline-block;
	float: left;
	&__text {
		color: #5d656c;
		font-size: em(14);
		margin: 2px 0;
		@extend %inline-block;
	}
}
.view {
	@extend %inline-block;
	float: right;
	padding: 0.5em 0em;
	&__text {
		color: #5d656c;
		font-size: em(14);
		margin: -3px 0 0;
		@extend %inline-block;
	}
	&__list {
		@extend %inline-block;
	}
	&__item {
		@extend %inline-block;
		position: relative;
		margin-left: 31px;
		&:before {
			content: "";
		    border-left: 1px solid #dee1e4;
		    position: absolute;
		    display: block;
		    width: 0;
		    height: 51px;
		    left: -19px;
		    top: -19px;
		}
	}
	&__link {
		@extend %inline-block;
		text-decoration: none;
		$views: list-full, list-thumbnail, view-list;
		@each $item in $views {
			&_#{$item} {
				$icon-width: icons-sprite-width($item);
				$icon-height: icons-sprite-height($item);
				@include icons-sprite($item);
				@include block-size ($icon-width, $icon-height);
			}
			&_#{$item}:hover {
				@include icons-sprite($item + '-hover');
			}
		}
	}
}

.jq-selectbox {
	width: 143px;
	vertical-align: top;
	margin-left: 4px;
	&__select{
		background-color: #ffffff;
		border-radius: 3px;
		box-shadow: inset 0px 1px 1px 0px rgba(148, 148, 148, 0.43);
		cursor: pointer;
		padding: 0.15em 0.9em 0.4em;
	}
	&__select-text {
		font-size: em(14);
		font-family: 'opensans-light', Arial, sans-serif;
		color: #7f7f7f;
	}
	&.opened &__trigger{
		@include icons-sprite(arow-up-small);
	}
	&__trigger {
		width: icons-sprite-width(arow-down-small);
		height: icons-sprite-height(arow-down-small);
		@include icons-sprite(arow-down-small);
		position: absolute;
	    right: 6px;
	    top: 11px;
	}
	&__dropdown {
		width: 100%;
		margin-top: 3px;
		padding: 0.15em 0.3em 0.6em 0.9em;
		border-radius: 2px;
		background-color: #fff;
		box-shadow: 0px 1px 4.85px 0.15px rgba(134, 134, 134, 0.75);
	}
	.sort__option {
		&.selected {
			font-size: em(14);
			font-family: 'opensans-light', Arial, sans-serif;
			color: #7f7f7f;
		}
		font-family: 'opensans-semibold', Arial, sans-serif;
		font-size: em(14);
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}