.search {
	float: left;
	&__input {
		font-family: 'opensans-light', Arial, sans-serif;
		font-size: em(14);
		@include placeholder (#7f7f7f);
		border: 1px solid #dee1e4;
		background-color: #fbfbfb;
		border-radius: 3px;
		border-right: none;
		padding: 0.4em 1.2em 0.6em;
		width: 256px;
    	margin-right: -6px;
	}
	&__submit {
		border: none;
		@extend .button;
		font-size: em(16);
		border-radius: 0 5px 5px 0;
		padding: 0.4em 0.9em 0.387em;
	}
}
