.seo-text {
	clear: both;
	margin-bottom: 9px;
	&__title {
		font-size: em(20);
		font-family: 'opensans-bold', Arial, sans-serif;
		margin: 0 0 17px;
	}
	&__text {
		p {
			font-size: em(14);
			text-indent: 2.6em;
		    margin: 0 0 20px;
		    line-height: 1.45em;
		}
		.first {
			padding-right: 15px;
		}
		.last {
			padding-left: 20px; 
		}
	}
}