.nav {
	border-bottom: 2px solid $border-color;
	width: 100%;
	background-color: #FFF;
	margin-bottom: 25px;
	&__menu {
		@extend %clearfix;
	}
	&__item {
		float: left;
		&_active {
			.nav__link {
				@extend %diogonal-gradient;
				font-family: 'opensans-semibold', Arial, sans-serif;
				color: #fff;
				&:hover {
					@extend %diogonal-gradient;
					opacity: 0.8;
				}
			}
		}
	}
	&__link {
		display: block;
		text-decoration: none;
		font-family: 'opensans-regular', Arial, sans-serif;
		font-size: em(16);
		color: $text-color;
		background-color: #FFF;
		text-align: center;
		padding: 0.95em 0.85em 0.95em 1.05em;
		&:hover {
			background-color: #e4e2e2;
		}
	}
}